@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Roboto-Regular.woff2") format('woff2');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Roboto-Medium.woff2") format('woff2');
  }

  html {
    font-family: "Roboto";
  }
}

/* Ховер для иконок */
.main-icon:hover .change {
  fill: black;
  transition: fill .15s ease;
}

.nav-item:hover path {
  transition: fill .15s ease;
  fill: white;
}